---
pagination:
  data: artworks.items
  size: 1
  alias: item
permalink: "art/{{ item.title | slugify }}/index.html"
eleventyExcludeFromCollections: true
layout: artwork.njk
---
<h1>{{ item.title }}</h1>
<img src="{{ item.path }}" alt=" " eleventy:widths="200,400">