/* Navigation menu specific to the home page. */
.home-nav {
  display: flex;
  flex-direction: column;
  gap: 0;
}

.home-nav a {
  text-decoration-color: var(--color-neutral-200);
  text-decoration-skip-ink: none;
  text-underline-offset: -0.15ex;
  font-weight: var(--font-bold);
  font-size-adjust: none;
  text-transform: uppercase;
  line-height: 0.75;
}

.home-nav a:nth-child(1) {
  color: var(--color-neutral-900);
}

.home-nav a:nth-child(2) {
  color: var(--color-neutral-600);
}

.home-nav a:nth-child(3) {
  color: var(--color-neutral-300);
}

/* .home-nav a:hover {
  text-decoration: underline;
  text-underline-offset: -0.25ex;
  text-decoration-skip-ink: none;
} */

/* .home-nav a:nth-child(1):hover {
  text-decoration-color: var(--color-neutral-900);
}

.home-nav a:nth-child(2):hover {
  text-decoration-color: var(--color-neutral-500);
}

.home-nav a:nth-child(3):hover {
  text-decoration-color: var(--color-neutral-200);
} */
