---
layout: base
title: Artworks
pagination:
  data: artworks.items
  size: 5
  alias: items
permalink: 'art/{% if pagination.pageNumber >=1 %}page-{{ pagination.pageNumber + 1 }}/{% endif %}index.html'
---
<div class="grid art-gallery">
  {% for item in items %}
    {% set imgPath = item.path %}
    <custom-card img-square>
      {% image imgPath,
      " " %}
      <h2 slot="headline">{{ item.title }}</h2>
    </custom-card>
  {% endfor %}
</div>

{% css "local" %}
{% include "css/custom-card.css" %}
{% endcss %}