---
layout: base
title: Artworks
pagination:
  data: artworks.items
  size: 5
  alias: items
permalink: 'art/{% if pagination.pageNumber >=1 %}page-{{ pagination.pageNumber + 1 }}/{% endif %}index.html'
---

<div class="art-gallery">
  {% for item in items %}
    <div class="art-item">
      {% if item.path %}
        <img src="{{ item.path }}" alt=" " eleventy:widths="100,200">
      {% endif %}
      {% if item.title %}
        <p>{{ item.title }}</p>
      {% else %}
        <p>Untitled</p>
      {% endif %}
    </div>
  {% endfor %}
</div>