---
pagination:
  data: artworks
  size: 1
  alias: artwork
eleventyExcludeFromCollections: true
permalink: '{{ artwork.category | slugify }}/index.html'
layout: page
---
<h1>{{ artwork.category }}</h1>
<ul role="list">
  {%- for year in artwork.years -%}
    <li>{{ year }}</li>
  {%- endfor -%}
</ul>