---
layout: base
permalink: /index.html
title: 'William Whitaker'
description: 'Portfolio site for William Whitaker.'
---

<div class="wrapper">
  <div class="region">
    <nav class="home-nav">
      {%- for item in navigation.top -%}
        <a href="{{ item.url }}" class="font-display">{{ item.text }}</a>
      {%- endfor -%}
    </nav>
  </div>
</div>