---
layout: base
permalink: /works-on-paper.html
title: 'Works on paper'
---

<div class="wrapper">
  <ul role="list">
    {%- for item in artworks.worksOnPaper -%}
      <li>
        <h2>{{ item.title }}</h2>
        <img src="{{ item.path }}" alt="{{ item.title }}" eleventy:widths="100">
        <p>{{ item.medium }}</p>
        <p>{{ item.year }}</p>
        <p>{{ item.dims }}</p>
      </li>
    {%- endfor -%}
  </ul>
</div>