---
layout: base
permalink: /works-on-paper.html
title: 'Works on paper'
---

<div class="wrapper">
  {%- for year, items in collections.paperByYear | dictsort | reverse -%}
    <h2>{{ year }}</h2>
    <ul role="list" class="grid">
      {%- for item in items | reverse -%}
        <li>
          <img src="{{ item.data.paper.path }}" alt="{{ item.data.paper.title }}">
          <a href="/works-on-paper/{{ item.data.paper.title }}/">{{ item.data.paper.title }}</a>
        </li>
      {%- endfor -%}
    </ul>
  {%- endfor -%}
</div>