---
pagination:
  data: artworks.worksOnPaper
  size: 1
  alias: paper
  addAllPagesToCollections: true
permalink: 'works-on-paper/{{ paper.title }}/index.html'
layout: artwork
tags: works-on-paper
---