---
layout: base
permalink: /writing/index.html
title: 'Writing'
---

<div class="wrapper">
  <h2>{{ title }}</h2>
  <p>Sometimes I write things about art. Less frequently, I post them. This is a work in progress.</p>
</div>