<footer class="site-footer p-s-m">
  <div class="wrapper">
    <div class="flow gutter-xs">
      <nav class="cluster text-step-0" aria-label="{{ meta.navigation.ariaBottom }}">
        &copy; {% year %}
        {% for item in navigation.bottom %}
          <a
            href="{{ item.url }}"
            {{
              helpers.getLinkActiveState(item.url,
              page.url)
              |
              safe
            }}
            >{{ item.text }}</a
          >
        {% endfor %}
      </nav>
      <details>
        <summary>Acknowledgements</summary>
        <p>Based on Lene Salie's 'Eleventy Excellent' template.</p>
        <p>Set in 'General Sans' and 'Author'.</p>
      </details>
    </div>
  </div>
</footer>